*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  font-size: 15px;
}

.slide_x {
  overflow-x: auto;
}

.slide_y :deep(.n-layout) {
  overflow-y: auto !important;
}

.shadow_blue {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.shadow_two {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shadow_three {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow_four {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.shadow_five {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.shadow_six {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.modal_mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 999;
}



/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:disabled {
  background: #ffffff;
  /* 更淺的背景顏色 */
  color: #FF4742;
  /* 更淺的字體顏色 */
  cursor: not-allowed;
  opacity: 0.4;
  /* 降低透明度，讓按鈕看起來更淺 */
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}


.button-25 {
  background: #4274ff;
  border: 1px solid #4274ff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-25:disabled {
  background: #ffffff;
  /* 更淺的背景顏色 */
  color: #7897ee;
  /* 更淺的字體顏色 */
  cursor: not-allowed;
  opacity: 0.4;
  /* 降低透明度，讓按鈕看起來更淺 */
}

.button-25:hover,
.button-25:active {
  background-color: initial;
  background-position: 0 0;
  color: #4274ff;
}

.button-26 {
  background: #888888;
  border: 1px solid #888888;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-26:disabled {
  background: #ffffff;
  /* 更淺的背景顏色 */
  color: #888888;
  /* 更淺的字體顏色 */
  cursor: not-allowed;
  opacity: 0.4;
  /* 降低透明度，讓按鈕看起來更淺 */
}

.button-26:hover,
.button-26:active {
  background-color: initial;
  background-position: 0 0;
  color: #888888;
}

.button-26:active {
  opacity: .5;
}

.btn_fill:hover,
.btn_fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.btn_raise:hover,
.btn_raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.shadow_89 {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.shadow_90 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.z-index-100 {
  z-index: 100;
}

.cover {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  filter: alpha(opacity=60);
  opacity: 0.6;
  display: none;
  z-index: 200;
}